<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <h3>String Interpolation</h3><br><br>
      <p>Your name is : {{name}}</p>
      <!--name is assigned value in .ts file -->
      <br><br>

    </div>

    <div class="col-sm-3">
      <h3>Property Binding</h3><br><br>
      <button class="btn btn-primary" [disabled]="!btn">Click Me</button>
      <br><br>
      <button class="btn btn-danger" [disabled]="!btn" (click)="onClickBtn()">Click Me</button>
      <br><br>
      <input type="text" (input)="$event" class="form-control" [disabled]="!field">
      <br><br>
      <p *ngIf="inputField">I will disappear when input field comes to life, wait 4sec.</p>
    </div>

    <div class="col-sm-3">
      <h3>Event Binding</h3><br><br>
      <input type="text" (input)="clickBtn($event)" class="form-control"><br><br>
      <p>{{text}}</p>
      <br><br>

    </div>

    <div class="col-sm-3">
      <h3>Two Way Data Binding</h3><br><br>
      <input type="text" placeholder="Enter Text" [(ngModel)]="personName" class="form-control" (mouseenter)="showp1()" (mouseleave)="hidep1()"><br><br>
      <p *ngIf="p1">Person with name : - {{personName}}</p>
      <br><br>

    </div>
  </div>





</div>
