<h1>Angular Basics</h1>
<hr>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Angular Basics</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="dbcomp">Data Binding</a></li>
      <li><a routerLink="directs">Directives</a></li>
      <li><a routerLink="cp">Course Project</a></li>
      <li><a routerLink="rout">Routing</a></li>
      <li><a routerLink="ht">Http</a></li>
      <li><a routerLink="serv">Services</a></li>

    </ul>
  </div>
</nav>


<!--<app-data-binding></app-data-binding>-->

<router-outlet></router-outlet>
